.gear-content {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.gear-icon {
  display: flex;
  flex: 2;
}

.gear-img {
  width: 90%;
  height: 90%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 5;
}

.links.left {
  align-items: flex-start;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  height: 100%;
}

.links.little {
  flex: 1;
}

.change {
  padding-left: 20px;
  border-radius: 20px;
  margin: 8.5px 0;
  line-height: 42.5px;
}

.change.active {
  border: 1px solid rgba(253, 185, 80, 0.93);
  margin: 7.5px 0;
}

.change.active.new {
  display: flex;
  border: 1px solid rgba(253, 185, 80, 0.93);
  margin: 7.5px 0;
}

.gem-name-block {
  display: flex;
  flex-direction: column;
}

.gem-lines {
  padding-top: 5px;
  line-height: 20px;
  margin: 0;
}

.gem-sublines {
  line-height: 15px;
  font-size: 10px;
  color: rgba(253, 185, 80, 0.93);
  margin: 0;
}

.socket {
  width: 32px;
  height: 32.5px;
  background: url("../../../assets/socket.png") no-repeat;
}

button.active {
  background-color: rgba(253, 185, 80, 0.1);
  color: rgba(253, 185, 80);
  margin-left: 5px;
}

.inactive {
  opacity: 0;
}

.R.socket {
  background-position: -2.5px -106.5px;
}

.B.socket {
  background-position: -2.5px -1.7px;
}

.G.socket {
  background-position: -107.5px -71.5px;
}

.link {
  background: url("../../../assets/socket.png") no-repeat;
  background-position: -140px -5px;
  width: 15px;
  height: 25px;
}

.nolink {
  background: url("../../../assets/socket.png") no-repeat;
  background-position: -140px -1111115px;
  width: 15px;
  height: 25px;
}

.gems-icon {
  display: flex;
  align-items: center;
}
