<div class="gear-content">
  <div class="gear-icon">
    <img
      *ngIf="icon && links.length"
      src="assets/{{ icon }}.png"
      alt="{{ icon }}"
      class="gear-img"
    />
  </div>
  <div class="links little">
    <ng-template ngFor let-link [ngForOf]="links" let-last="last">
      <div class="{{ link.socketColor }} socket"></div>
      <div *ngIf="link.isLinked" class="link"></div>
      <div *ngIf="!link.isLinked && !last" class="nolink"></div>
    </ng-template>
  </div>
  <div class="links left">
    <ng-template ngFor let-gem [ngForOf]="gems">
      <div class="gems-icon">
        <img width="40.5px" src="{{ gem.gemImage }}" />
        <p *ngIf="!gem.isNew" class="change">
          {{ gem.gemName }}
        </p>
        <p
          *ngIf="
            gem.isNew && !rewardSentence(rewardsList, vendorList, gem.gemName)
          "
          class="change active"
        >
          {{ gem.gemName }}
          <button
            mat-icon-button
            color="accent"
            aria-label="New gem"
            class="active"
          >
            <mat-icon>swap_vert</mat-icon>
          </button>
        </p>

        <div
          *ngIf="
            gem.isNew && rewardSentence(rewardsList, vendorList, gem.gemName)
          "
          class="change active new"
        >
          <div class="gem-name-block">
            <p class="gem-lines">{{ gem.gemName }}</p>
            <p class="gem-sublines">
              {{ rewardSentence(rewardsList, vendorList, gem.gemName) }}
            </p>
          </div>
          <button
            mat-icon-button
            color="accent"
            aria-label="New gem"
            class="active"
          >
            <mat-icon>swap_vert</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
