<div class="container">
  <app-level-carousel
    [currentLevel]="level"
    [levelThresholds]="levelThresholds"
  ></app-level-carousel>
  <div class="separator"></div>
  <div class="main">
    <div class="content">
      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'helmet')?.gems,
            findGearPiece(previousStep?.gear, 'helmet')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'helmet')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'helmet')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>

      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'gloves')?.gems,
            findGearPiece(previousStep?.gear, 'gloves')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'gloves')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'gloves')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>

      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'boots')?.gems,
            findGearPiece(previousStep?.gear, 'boots')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'boots')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'boots')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>
    </div>
    <div class="content">
      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'body_armor')?.gems,
            findGearPiece(previousStep?.gear, 'body_armor')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'body_armor')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'body_armor')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>

      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'two_handed')?.gems,
            findGearPiece(previousStep?.gear, 'two_handed')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'two_handed')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'two_handed')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>
      <app-gear
        [gems]="
          formatGems(
            findGearPiece(currentStep?.gear, 'weaponswap')?.gems,
            findGearPiece(previousStep?.gear, 'weaponswap')?.gems
          )
        "
        [icon]="findGearPiece(currentStep?.gear, 'weaponswap')?.type"
        [links]="
          formatLinks(findGearPiece(currentStep?.gear, 'weaponswap')?.sockets)
        "
        (newQuestUsed)="newQuestUsed($event)"
        [questUsed]="questUsed | async"
      >
      </app-gear>
    </div>
  </div>
</div>
