<div class="container">
  <div class="row">
    <h3 class="fade-2">Level 1</h3>
    <h2 class="fade-1">Level 4</h2>
    <h1>Level 10</h1>
    <h2 class="fade-1">Level 26</h2>
    <h3 class="fade-2">Level 40</h3>
  </div>
  <div class="separator"></div>
  <div class="main">
    <div class="content">
      <app-gear
        [gems]="formatGems(gear[0].gems)"
        [icon]="gear[0].type"
        [links]="formatLinks(gear[0].sockets)"
      >
      </app-gear>

      <app-gear
        [gems]="formatGems(gear[2].gems)"
        [icon]="gear[2].type"
        [links]="formatLinks(gear[2].sockets)"
      >
      </app-gear>

      <app-gear
        [gems]="formatGems(gear[3].gems)"
        [icon]="gear[3].type"
        [links]="formatLinks(gear[3].sockets)"
      >
      </app-gear>
    </div>
    <div class="content">
      <app-gear
        [gems]="formatGems(gear[1].gems)"
        [icon]="gear[1].type"
        [links]="formatLinks(gear[1].sockets)"
      >
      </app-gear>

      <app-gear
        [gems]="formatGems(gear[4].gems)"
        [icon]="gear[4].type"
        [links]="formatLinks(gear[4].sockets)"
      >
      </app-gear>
    </div>
  </div>
</div>
