.fade-1 {
  opacity: 0.4;
}

.fade-2 {
  opacity: 0.2;
}

.row {
  flex-direction: row;
  display: flex;
  flex: 1;
  padding: 10px;
  width: 100%;
  justify-content: center;
  background-color: rgb(51, 51, 51);
}

.row > h1,
.row > h2,
.row > h3 {
  margin: 8px;
}

.content {
  display: flex;
  flex: 10;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
