<div class="container">
  <div class="row">
    <h3 class="fade-2">Level 1</h3>
    <h2 class="fade-1">Level 4</h2>
    <h1>Level 10</h1>
    <h2 class="fade-1">Level 26</h2>
    <h3 class="fade-2">Level 40</h3>
  </div>
  <div class="separator"></div>
  <div class="main">
    <div class="content">
      <div style="flex-direction: row; display: flex; align-items: center">
        <div style="display: flex; flex: 2">
          <img src="assets/helmet.png" alt="helmet" class="gear-img" />
        </div>
        <div class="links little">
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
        </div>
        <div class="links left">
          <p class="change">
            <button
              mat-icon-button
              color="accent"
              aria-label="Example icon-button with a heart icon"
              class="active"
            >
              <mat-icon>swap_vert</mat-icon>
            </button>
            Stormblast Mine
          </p>
          <p>Added lightning damage support</p>
          <p>Added lightning damage support</p>
          <p>Added lightning damage support</p>
        </div>
      </div>

      <div style="flex-direction: row; display: flex; align-items: center">
        <div style="margin-right: 30px">
          <img src="assets/gloves.png" alt="gloves" class="gear-img" />
        </div>
        <div class="links">
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
        </div>
      </div>

      <div style="flex-direction: row; display: flex; align-items: center">
        <div style="margin-right: 30px">
          <img src="assets/boots.png" alt="boots" class="gear-img" />
        </div>
        <div class="links">
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
        </div>
      </div>
    </div>
    <div class="content">
      <div style="flex-direction: row; display: flex; align-items: center">
        <div style="margin-right: 30px">
          <img src="assets/armor.png" alt="armor" class="gear-img" />
        </div>
        <div class="links">
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="red socket"></div>
          <div class="link"></div>
          <div class="green socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
        </div>
      </div>

      <div style="flex-direction: row; display: flex; align-items: center">
        <div style="margin-right: 30px">
          <img src="assets/sword.png" alt="sword" class="gear-img" />
        </div>
        <div class="links">
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="nolink"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
          <div class="link"></div>
          <div class="blue socket"></div>
        </div>
      </div>
    </div>
  </div>
</div>
