<mat-card class="card" *ngIf="!noData">
  <mat-card-content class="center">
    <mat-card-title class="card-title">Current Level</mat-card-title>
    <div class="separator"></div>
    <mat-progress-spinner
      class="example-margin"
      color="accent"
      mode="determinate"
      [value]="level"
    >
    </mat-progress-spinner>
    <h2 class="spinner-content">{{ level }}</h2>
  </mat-card-content>
</mat-card>
<div *ngIf="!noData">
  <ng-template
    let-notable
    [ngTemplateOutletContext]="{ $implicit: notable$ | async }"
    [ngTemplateOutlet]="notableSection"
    #notableSection
  >
    <div
      *ngIf="notable?.isKeystone"
      class="passive-icon-container passive-icon-type__keystone"
    >
      <div class="passive-icon-frame"></div>
      <a href="#" title="{{ notable.name }}"
        ><img
          alt="{{ notable.name }}"
          src="{{ notable?.imgLink }}"
          decoding="async"
          width="128"
          height="128"
      /></a>
    </div>

    <div
      *ngIf="!notable?.isKeystone"
      class="passive-icon-container passive-icon-type__notable"
    >
      <div class="passive-icon-frame"></div>
      <a *ngIf="notable?.imgLink" href="#" title="{{ notable.name }}"
        ><img
          alt="{{ notable.name }}"
          src="{{ notable?.imgLink }}"
          decoding="async"
          width="128"
          height="128"
      /></a>
    </div>

    <p class="nextNotable">
      Next {{ notable?.isKeystone ? "keystone" : "notable passive" }}:
      <br /><strong>{{ notable?.name }}</strong>
    </p>
  </ng-template>
</div>
<div *ngIf="!noData" class="notes">
  <div class="notes-box">
    <h3 class="notes-title">Sockets to look for</h3>
    <div *ngFor="let item of visibleItems" class="linkWrapper">
      <ng-template
        ngFor
        let-link
        [ngForOf]="formatLinks(item.links)"
        let-last="last"
      >
        <div class="{{ link.socketColor }} socket"></div>
        <div *ngIf="link.isLinked" class="link"></div>
        <div *ngIf="!link.isLinked && !last" class="nolink"></div>
      </ng-template>
    </div>
  </div>
</div>
<button
  mat-flat-button
  color="accent"
  class="import-button"
  (click)="openDialog()"
>
  New leveling
</button>
<div class="credits" *ngIf="!noData">
  <!-- Icons made by Freepik from www.flaticon.com -->
  <code class="shortcut-code">Ctrl+Alt+L</code> - Level up<br /><br />
  <code class="shortcut-code">Ctrl+Alt+P</code> - Next notable passive
</div>
