.left-panel {
  display: flex;
  flex: 1;
  height: 100%;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
