/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: rgb(71, 71, 71);
  margin: 0;
  font-family: "Halant", sans-serif;
  font-size: 16px;
  color: #fff;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.snackbar {
  background-color: rgba(253, 185, 80);
  color: black;
  padding: 0 !important;
}
