<mat-horizontal-stepper linear #stepper>
  <mat-step
    [stepControl]="firstFormGroup"
    errorMessage="Character name is required. It should respect PoE naming restrictions"
    color="accent"
  >
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your character name</ng-template>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: 30px;
          flex-direction: column;
        "
      >
        <mat-form-field>
          <mat-label>Character name</mat-label>
          <input
            matInput
            placeholder="Character name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select formControlName="classCtrl">
            <mat-option
              *ngFor="
                let class of [
                  'Marauder',
                  'Duelist',
                  'Ranger',
                  'Shadow',
                  'Witch',
                  'Templar',
                  'Scion'
                ]
              "
              [value]="class"
            >
              {{ class }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-flat-button color="accent" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" color="accent">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Client.txt</ng-template>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: 30px;
          flex-direction: column;
        "
      >
        <mat-form-field>
          <mat-label>Path to your Client.txt file</mat-label>
          <input matInput formControlName="secondCtrl" required />
        </mat-form-field>
        <div>
          <button mat-flat-button color="accent" matStepperNext>Next</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="thirdFormGroup"
    color="accent"
    [editable]="isEditable"
  >
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Import your leveling file</ng-template>
      <div
        style="
          display: flex;
          justify-content: center;
          margin: 30px;
          flex-direction: column;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
          "
        >
          <mat-form-field style="flex: 2; margin-right: 10px">
            <mat-label>Path of Building Pastebin link: </mat-label>
            <input matInput formControlName="pobCtrl" />
          </mat-form-field>
          <button
            mat-flat-button
            color="accent"
            class="import-button"
            style="max-height: 36px; flex: 1"
            (click)="openAndSendPoB()"
          >
            Import PoB
          </button>
        </div>

        <div class="separator"><p class="separator-text">-- OR --</p></div>
        <button
          mat-flat-button
          color="accent"
          class="import-button"
          (click)="openDialog()"
        >
          Import leveling file
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
